<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menglingpeng.vonvimeo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.view.UserAlbumsActivity" />
        <activity android:name=".mvp.view.UserAlbumDetailActivity" />
        <activity android:name=".mvp.view.VideoDetailActivity" />
        <activity android:name=".mvp.view.UserProjectsActivity" />
        <activity android:name=".mvp.view.CategoritesActivity" />
        <activity android:name=".mvp.view.ChannelDetailActivity" />
        <activity android:name=".mvp.view.SearchActivity" />
        <activity android:name=".mvp.view.activity.UserProfileActivity" />
        <activity android:name=".mvp.view.activity.UserFollowingActivity" />
        <activity android:name=".mvp.view.activity.UserWathcedActivity" />
        <activity android:name=".mvp.view.activity.UserGroupsActivity" />
        <activity android:name=".mvp.view.activity.GroupDetailActivity" />
        <activity android:name=".mvp.view.activity.UserPicturesActivity" />
        <activity android:name=".mvp.view.activity.EditUserProfileActivity" />
        <activity android:name=".mvp.view.activity.UserUploadedVideosActivity" />
        <activity android:name=".mvp.view.activity.UserChannelsActivity" />
        <activity android:name=".mvp.view.activity.CategoryDetailActivity" />
        <activity android:name=".mvp.view.activity.ProjectDetailActivity" />
        <activity android:name=".mvp.view.activity.UserCollectionsActivity" />
        <activity android:name=".mvp.view.activity.InviteFriendsActivity" />
        <activity android:name=".mvp.view.activity.FeedManagerActivity" />
        <activity android:name=".mvp.view.activity.TagActivity" />
        <activity android:name=".mvp.view.activity.ExploreStuffActivity" />
        <activity android:name=".mvp.view.activity.VimeoIntroduceActivity" />
        <activity android:name=".mvp.view.activity.UserAboutActivity" />
        <activity android:name=".mvp.view.activity.GroupsActivity" />
        <activity android:name=".mvp.view.activity.ChannelsActivity" />
        <activity android:name=".mvp.view.activity.WatchLaterVideosActivity" />
        <activity android:name=".mvp.view.activity.UserProjectDetailActivity" />
        <activity android:name=".mvp.view.activity.MyFeedVideosActivity" />
        <activity android:name=".mvp.view.activity.UserOnDemandPagesActivity" />
        <activity android:name=".mvp.view.activity.UserPortfolioDetailActivity" />
        <activity android:name=".mvp.view.activity.UserPortfoliosActivity" />
        <activity android:name=".mvp.view.activity.UserPurchasesActivity" />
        <activity android:name=".mvp.view.activity.UploadActivity" />
        <activity android:name=".mvp.view.activity.VideoSettingsActivity" />
        <activity android:name=".mvp.view.activity.UserMessageActivity" />
        <activity android:name=".mvp.view.activity.MessageActivity" />
        <activity android:name=".mvp.view.activity.MyActActivity" />
        <activity android:name=".mvp.view.activity.SettingsActivity" />

        <!-- 若手机没有安装支付宝，则调用H5支付页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".mvp.view.activity.UpgradeOrderActivity" />
        <activity android:name=".utils.wxpay.WxPayEntryActivity" />
        <activity android:name=".mvp.view.activity.AddCardActivity" />
        <activity android:name=".mvp.view.payment.SupportedBankCardActivity" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity android:name="com.tencent.tauth.AuthActivity">
            <intent-filter>


                　　　　


                <action android:name="android.intent.action.VIEW" />


                　　　　


                <category android:name="android.intent.category.DEFAULT" />


                　　　　


                <category android:name="android.intent.category.BROWSABLE" />


                　　　　


                <data android:scheme="tencent2345" />


                　　


            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" />


        　　


        <activity android:name=".mvp.view.activity.UpgradeActivity" />
        <activity android:name=".utils.pay.wxpay.WxPayEntryActivity" />
        <activity android:name=".mvp.view.activity.VimeoOndemandPagesActivity" />
        <activity android:name=".mvp.view.activity.RegionDetailActivity" />
        <activity android:name=".mvp.view.activity.SeasonDetailActivity" />
        <activity android:name=".mvp.view.activity.GenreDetailActivity" />
        <activity android:name=".mvp.view.activity.PosterDetailActivity" />
        <activity android:name=".mvp.view.activity.VimeoOnDemandPageBackgroudDetailActivity" />
        <activity android:name=".mvp.view.activity.PromotionDetailActivity" />
        <activity android:name=".mvp.view.activity.RegionsActivity" />
        <activity android:name=".mvp.view.activity.RegionsPickerActivity" />
        <activity android:name=".mvp.view.activity.OnDemandPageGenresActivity" />
        <activity android:name=".mvp.view.activity.GenresPickerActivity" />
        <activity android:name=".mvp.view.activity.GenreOnDemandPagesActivity" />
        <activity android:name=".mvp.view.activity.GenresActivity"></activity>
    </application>

</manifest>